<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Login</title>
</head>
<body>
   
<form class="login"  action="/confirm" method="POST">
    <div class="container">
        <input type="text" id="trackingNumber" name="trackingNumber">
    </div>

    <input type="text" id="formMETHOD" name="formMETHOD" value="ZALORA"> 
  <button class="button" type="submit">test</button>
</form>

</body>
</html>

