<div>
    <form method="post" action="/testcomplete">
        <input type="checkbox" value="true" name="testCB"> Test box <!-- set value as string true and parse in node as boolean true.-->
        <button type="submit">Submit</button>
    </form>
</div>