<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>username here</title>
</head>
<body>
    <h1>WMS</h1>
    <h2>username</h2>
    <h2>Access Level:</h2> <!-- Position level -->

    <!-- table or calender mode -->
    <h3>Item in Warehouse</h3><!--Total Number of item in warehouse -->
    <h3>Item out for deliveries</h3><!-- Total numbers of item our for deliveries based on the pods -->
    <h3>Important Dates!!</h3><!-- Dates for scheduled flight example: returns, exports or item in -->
    <!--<h3>Today's POD</h3><!-- Link for user to download -->
    
    <h3>Navigation for user based on their access level</h3>
    
    
</body>
</html>