<form action="/tookan" method="post" id="test">
    <input type="text" name="trackingNumber" value="345817692">
    <input type="text" name="trackingNumber" value="376859318">
    <input type="text" name="trackingNumber" value="368275233">
    <input type="text" name="trackingNumber" value="394545580">
    <input type="text" name="trackingNumber" value="388007977">
    <input type="text" name="trackingNumber" value="394545849">
    <input type="text" name="trackingNumber" value="376860296">
    <button type="submit">submit</button>
</form>

