<div>all good <%= testCB %></div>

<input type="checkbox" name="test" value="<%= testCB %>" id="floor" disabled>

<script>
    let cb = document.getElementById("floor")
    if (cb.value == "true"){
        cb.checked = true
        console.log("checked")
    }else if (cb.value == "false"){
        cb.checked = false
        console.log("not-checked")
    }
</script>